
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Death Certificate</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
    <!-- Navbar -->
  <nav class="navbar">
    <div class="navv">
      <img src="/img/nav.jpeg" alt="Gov Logo" class="navv">
      
    </div>
   
  </nav>
  <div class="certificate-container">
  
    <table class="details-table">
      <tr>
        <th>Registration Number</th>
        <td><%= "D20241029104002575" %></td>
      </tr>
      <tr>
        <th>Name</th>
        <td><%= "ABIDA KHATUN" %></td>
      </tr>
      <tr>
        <th>Date of Death</th>
        <td><%= "08-10-2024" %></td>
      </tr>
      <tr>
        <th>Mother's Name</th>
        <td><%= "SUBUJAN KHATUN" %></td>
      </tr>
      <tr>
        <th>Father's Name</th>
        <td><%= "MOKHTAR ANSARI" %></td>
      </tr>
      <tr>
        <th>Place of Death</th>
        <td><%= "SISWA PATNA EAST CHAMPARAN 845401" %></td>
      </tr>
      <tr>
        <th>Registration Date</th>
        <td><%= "14-10-2024" %></td>
      </tr>
      <tr>
        <th>Registration Unit Name</th>
        <td><%= "SISWA PATNA " %></td>
      </tr>
       <tr>
        <th>Registration Unit Code</th>
        <td><%= "14194" %></td>
      </tr>
    </table>

    
  </div>
<%- include("partial/footer") %>


</body>
</html>

