
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Death Certificate</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
    <!-- Navbar -->
  <nav class="navbar">
    <div class="navv">
      <img src="/img/nav.jpeg" alt="Gov Logo" class="navv">
      
    </div>
   
  </nav>
  <div class="certificate-container">
  
    <table class="details-table">
      <tr>
        <th>Registration Number</th>
        <td><%= "D-2024: 09-12913-002575" %></td>
      </tr>
      <tr>
        <th>Name</th>
        <td><%= "ASIYA KHTOON" %></td>
      </tr>
      <tr>
        <th>Date of Death</th>
        <td><%= "20-10-2024" %></td>
      </tr>
      <tr>
        <th>Mother's Name</th>
        <td><%= "ANGURI KHATUN" %></td>
      </tr>
      <tr>
        <th>Father's Name</th>
        <td><%= "MD AKHTAR" %></td>
      </tr>
      <tr>
        <th>Place of Death</th>
        <td><%= "PUPARI SITAMARHI 843320" %></td>
      </tr>
      <tr>
        <th>Registration Date</th>
        <td><%= "27-10-2024" %></td>
      </tr>
      <tr>
        <th>Registration Unit Name</th>
        <td><%= "BEHTA" %></td>
      </tr>
       <tr>
        <th>Registration Unit Code</th>
        <td><%= "50312" %></td>
      </tr>
    </table>

    
  </div>
<%- include("partial/footer") %>


</body>
</html>

